PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

* * * * * root cd ../binfun; python manage.py parse_channel --channel tca_leverage > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * root cd ../binfun; python manage.py parse_channel --channel recommend > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * root cd ../binfun; python manage.py parse_channel --channel fsvzo > /proc/1/fd/1 2>/proc/1/fd/2

#15 * * * * root python ../binfun/manage.py  > /proc/1/fd/1 2>/proc/1/fd/2
#