PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
* * * * * root cd ../binfun; sleep 2; python manage.py form_buy_orders --without_checking > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * root cd ../binfun; sleep 6; python manage.py push_job --without_checking > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * root cd ../binfun; sleep 16; python manage.py pull_job --without_checking > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * root cd ../binfun; sleep 26; python manage.py bought_worker --without_checking > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * root cd ../binfun; sleep 29; python manage.py sold_worker --without_checking > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * root cd ../binfun; sleep 35; python manage.py spoil_worker --without_checking > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * root cd ../binfun; sleep 46; python manage.py close_worker --without_checking > /proc/1/fd/1 2>/proc/1/fd/2

* * * * * root cd ../binfun; sleep 10; python manage.py parse_channel --channel tca_origin > /proc/1/fd/1 2>/proc/1/fd/2
*/2 * * * * root cd ../binfun; python manage.py parse_channel --channel china > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * root cd ../binfun; python manage.py parse_channel --channel tca_leverage > /proc/1/fd/1 2>/proc/1/fd/2
*/2 * * * * root cd ../binfun; python manage.py parse_channel --channel tca_altcoin > /proc/1/fd/1 2>/proc/1/fd/2
*/3 * * * * root cd ../binfun; python manage.py parse_channel --channel crypto_angel > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * root cd ../binfun; sleep 20; python manage.py parse_channel --channel marginwhales > /proc/1/fd/1 2>/proc/1/fd/2

#15 * * * * root python ../binfun/manage.py  > /proc/1/fd/1 2>/proc/1/fd/2
#